@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&family=Space+Grotesk:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-bg: #0B0F19;
  --color-brand-panel: #131A2D;
  --color-brand-header: #1C253E;
  --color-brand-border: #1E2943;
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Space Grotesk', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  background-color: var(--color-brand-bg);
  color: #f3f4f6; /* gray-100 */
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}